@model presentation.Models.VM.ResortNumberDeleteVM

<form asp-action="DeleteResortNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Resort</h1>
        <hr />
        <input hidden asp-for="ResortNumber.ResortNo" />
        <div class="row">

            <div class="col-2">
                <label asp-for="ResortNumber.ResortNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ResortNumber.ResortNo" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="ResortNumber.ResortID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="ResortNumber.ResortID" disabled class="form-select" asp-items="@Model.ResortsList">
                    <option disabled selected>--Select Resort--</option>
                </select>
            </div>
            <div class="col-2">
                <label asp-for="ResortNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="ResortNumber.SpecialDetails" readonly class="form-control" rows="5"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexResortNumber" asp-controller="ResortNumber" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
