@model IEnumerable<presentation.Models.Dto.ResortNumberDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
			<h1 class="text-secondary">Resort Number List</h1>
        </div>
        <div class="col text-end pt-1">
			<a asp-controller="ResortNumber" asp-action="CreateResortNumber" class="btn btn-warning "><i class="bi bi-plus-square-fill"></i> Add Resort Number</a>
        </div>
    </div>

	<table class="table text-white">
		<thead>
			<tr>
				<th>
					Resort Name
				</th>
				<th>
					Resort Number
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model){
				<tr>
					<td>@item.Resort.Name</td>
					<td>@item.Resort</td>
					<td>
						<a asp-controller="VillaNumber" asp-action="UpdateVillaNumber" asp-route-villaNo="@item.ResortNo" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
						<a asp-controller="VillaNumber" asp-action="DeleteVillaNumber" asp-route-villaNo="@item.ResortNo" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
					</td>
				</tr>
			}
		</tbody>
    </table>

</div>